<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Gestión académica - Pricipal </title>
    <link rel="stylesheet" href="./../css/loader.css">
    <link rel="stylesheet" href="./../css/font-awesome.min.css">
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <link rel="stylesheet" href="./../css/main.css">
  </head>
  <body class="pt-5">
    <header>
      <nav class="navbar fixed-top navbar-dark bg-dark justify-content-center">
        <ul class="nav nav-pills" id="tabsNav" role="tablist">
          <li class="nav-item">
            <a data-tip="tooltip" data-placement="bottom" title="Inicio - Pagina Pricipal" class="nav-link active text-white" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a data-tip="tooltip" data-placement="bottom" title="Evaluaciones" class="nav-link text-white" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="alertContainer">
    </div>
    <div class="tab-content" id="TabsContent">
      <div class="tab-pane fade show active container" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-12">
              <br>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="./../img/slide1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="./../img/slide2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="./../img/slide3.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <div class="jumbotron">
          <h1 class="display-6 text-danger">TRANZOATEGUI</h1>
          <p class="lead">SISTEMA DE INFORMACIÓN PARA LA GESTIÓN ACADÉMICA DE LA ESCUELA DE TRANSPORTE TRANZOATEGUI</p>
          <hr class="">
          <p><i class="fa fa-cogs" aria-hidden="true"></i> <small class="stats"></small></p>
        </div>
        <div class="row" id="noticeContainer">
        </div>
        <div id="showNoticeModalContainer"></div>
        <div id="editNoticeModalContainer"></div>
      </div>
    </div>
    <script>
      window.$ = window.jQuery = require('./../js/libs/jquery');
    </script>
    <script src="./../js/libs/popper.js"></script>
    <script src="./../js/libs/bootstrap.min.js"></script>
    <script> require('./../js/index.js')</script>
  </body>
</html>